@model BancaTest2.Models.Operazione

@{
    ViewData["Title"] = "CreateOperazione";
}

<h1>Operazione</h1>

<h4>MovimentoAvere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOperazione">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       
            <div class="form-group">
                <label asp-for="Cifra" class="control-label"></label>
                <input asp-for="Cifra" class="form-control" />
                <span asp-validation-for="Cifra" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label><input asp-for="TipoOperazione" value="0" type="radio" />Bonifico</label>
                <label><input asp-for="TipoOperazione" value="1" type="radio" />Prelievo</label>
                
            </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
