@using Microsoft.AspNetCore.Identity;

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Ciao @User.Identity.Name</h1>

        @this.Html.ActionLink("Operazioni", "CreateOperazione", "Home")
        @this.Html.ActionLink("Movimenti", "GetMovimenti", "Home")
        <ul>
            @foreach (IdentityRole role in ViewBag.Roles)
            {
                @if (User.IsInRole(role.Name))
                {
                    <li>@role</li>
                }
            }

        </ul>
    </div>